.card-title {
  font-size: 1.5rem;
}
@media (max-width: 1200px) {
  .card-title {
    font-size: 1.3rem;
  }
}
@media (max-width: 992px) {
  .card-title {
    font-size: 1.2rem;
  }
}

.card-text {
  font-size: 1.2rem;
}
@media (max-width: 1200px) {
  .card-text {
    font-size: 1.1rem;
  }
}
@media (max-width: 992px) {
  .card-text {
    font-size: 1rem;
  }
}