
.navigation {

}

.search {

}

.carousel {

}

.container-grid {
  margin-top: 40px;
  padding: 30px;
}

.container-grid--form {
  margin-top: 30px;
  background-color: rgba(215,163,208,0.2);
  padding: 30px;
  border-radius: 30px;
}

.form__label {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.form__control {
  margin-top: 10px;
}

.form__button {
  margin-top: 50px;
  font-weight: 500;
  padding: 10px 30px 10px 30px;
}

.mainCard {

}

.footer{

}
.footer__button {
  border: 1px black double;
  color: black;
  background-color: transparent;
  margin: 10px;
  padding: 10px;
  width: 40px;
}

.button {

}



