@import 'mixins';
@import 'variables';
@import 'styles';
@import 'media';
@import 'theme';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url("../../../public/assets/images/background-2819026_1920.jpg");
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}



