@import 'mixins';
@import 'variables';
@import 'styles';
@import 'media';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

body {
  background-image: url("../../../public/assets/images/background-2819026_1920.jpg");
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}

.darkTheme {
  //background-color: black;
  //color: aliceblue;
}

.lightTheme {
  //background-color: aliceblue;
  //color: black;
}

button {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid;
  cursor: pointer;
  font-size: 16px;
}

.darkBtn {
  background-color: black;
  color: aliceblue;
}
.lightBtn {
  background-color: aliceblue;
  color: black;
}


