* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

body {
  background-repeat: no-repeat;
  background-image: url("../images/background-2819026_1920.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;

}

